<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th *ngFor="let th of gridConfig"> {{th.displayName}}</th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="gridRows.length !==0">
                <tr *ngFor="let row of gridRows">
                    <td *ngFor="let config of gridConfig">
                        {{row[config.fieldName]}}
                    </td>
                </tr>
            </div>
            <tr *ngIf="gridRows.length == 0">
                
                <td [attr.colspan]="gridConfig.length">
                    No Data found to show.
                </td>
            </tr>
        </tbody>

    </table>

</div>