form value : {{userForm.value | json}}
form status : {{userForm.valid}}

<form name="user" #userForm="ngForm" (submit)=saveAndNext(userForm) novalidate>
    {{diagnostic}}
    <div class="col-md-10">
        <div class='panel panel-default '>
            <div class='panel panel-heading'>User Details</div>
            <div class='panel-body'>
                <div class="form-horizontal">
                    <!--email-->
                    <div class='form-group'>
                       <div class='col-md-12' [ngClass] = '{"has-error" :emailid.invalid && emailid.touched }'>
                            <label class='control-label' for="email">*Email:</label>
                        
                        <div >
                            <input type='email' class='form-control' required id="email" #emailid="ngModel" name="emailid" [(ngModel)]="user.emailId" />
                        </div>
                           <span *ngIf="(emailid.invalid && emailid.touched)" class="has-error  help-block"> email is required </span>
                       </div>
                    </div>
                    <!--end-->
                    <!--First Name-->
                    <div class='form-group'>
                        <div class="col-md-6" [ngClass] = '{"has-error" :firstName.invalid && firstName.touched }'>
                                <label class='control-label'>*First Name:</label>
                            <div>
                                <input type='text' class='form-control' required name="firstName" #firstName = "ngModel" [(ngModel)]="user.firstName" />
                            </div>
                            <span *ngIf="(firstName.invalid && firstName.touched)" class="has-error  help-block"> First Name is required </span>
                        </div>
                        <div class="col-md-6" [ngClass] = '{"has-error" :lastName.invalid && lastName.touched }'>
                            <div>
                                <label class='control-label'>*Last Name:</label>
                            </div>
                            <div>
                                <input type='text' class='form-control' required name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" />
                            </div>
                            <span *ngIf="(lastName.invalid && lastName.touched)" class="has-error  help-block"> First Name is required </span>
                        </div>
                    </div>
                    <!--end-->
                    <!--username-->
                    <div class='form-group'>
                        <div class='col-md-12'>
                            <label class='control-label'>Username</label>
                        </div>
                        <div class='col-md-12'>
                            <input type='text' class='form-control' name="userName" [(ngModel)]="user.userName" />
                        </div>
                    </div>
                    <!--password-->
                    <div class='form-group'>
                        <div class="col-md-6">
                            <div>
                                <label class='control-label'>Password:</label>
                            </div>
                            <div>
                                <input type='text' class='form-control' name="password" [(ngModel)]="user.password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label class='control-label'>Confirm password:</label>
                            </div>
                            <div>
                                <input type='text' class='form-control' name="confirmPassword" [(ngModel)]="user.confirmPassword" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class='form-group'>
            <button class='form-control btn btn-primary' [disabled] = "userForm.invalid"  value="Save & Next >>" >Save & Next >></button>
        </div>
    </div>
</form>